<div>
    <h2>
        <span jhiTranslate="onceAgainGamesApp.gameIntro.home.title">Game Intros</span>
        <button class="btn btn-primary float-right jh-create-entity create-game-intro-my-suffix" [routerLink]="['/', { outlets: { popup: ['game-intro-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="onceAgainGamesApp.gameIntro.home.createLabel">
            Create new Game Intro
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="gameIntros">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="onceAgainGamesApp.gameIntro.name">Name</span></th>
            <th><span jhiTranslate="onceAgainGamesApp.gameIntro.wallpaper">Wallpaper</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gameIntro of gameIntros ;trackBy: trackId">
                <td><a [routerLink]="['../game-intro-my-suffix', gameIntro.id ]">{{gameIntro.id}}</a></td>
                <td>{{gameIntro.name}}</td>
                <td>
                    <a *ngIf="gameIntro.wallpaper" (click)="openFile(gameIntro.wallpaperContentType, gameIntro.wallpaper)">
                        <img [src]="'data:' + gameIntro.wallpaperContentType + ';base64,' + gameIntro.wallpaper" style="max-height: 30px;" alt="gameIntro image"/>
                    </a>
                    <span *ngIf="gameIntro.wallpaper">{{gameIntro.wallpaperContentType}}, {{byteSize(gameIntro.wallpaper)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../game-intro-my-suffix', gameIntro.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game-intro-my-suffix/'+ gameIntro.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game-intro-my-suffix/'+ gameIntro.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
